@import url("../global.css");
@import url("home_commons.css");

/* ---------- Hadith Styles ---------- */
.hadith-texts {
    -fx-max-width: infinity;
}

.hadith-vertical-line {
    -fx-background-color: -color-primary;
    -fx-pref-width: 3px;
    -fx-max-width: 3px;
    -fx-min-width: 3px;
    -fx-padding: 0;
}

.hadith-ar {
    -fx-font-family: "Amiri", "Times New Roman", serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: -color-text-primary;
    -fx-padding: 0 0 8px 0;
    -fx-line-spacing: 2px;
}

.hadith-en {
    -fx-font-size: 16px;
    -fx-fill: #6f7480;
    -fx-font-style: italic;
    -fx-padding: 0 0 8px 0;
    -fx-line-spacing: 1px;
}

.hadith-source {
    -fx-font-size: 13px;
    -fx-fill: #6b7280;
    -fx-font-style: normal;
    -fx-padding: 5px 0 0 0;
}

.hadith-read-more-btn {
    -fx-padding: 8px 14px;
    -fx-font-size: 13px;
    -fx-font-weight: 600;
    -fx-alignment: center;
}


@media (prefers-color-scheme: dark) {
    .hadith-en,
    .hadith-ar,
    .hadith-source {
        -fx-fill: -color-text-secondary;
    }
}

