@import url("../global.css");

.settings-card {
    -fx-background-color: -color-card-bg;
    -fx-background-radius: 16px;
    -fx-padding: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 4, 0.1, 0, 2);
    -fx-spacing: 12;
    -fx-alignment: center-left;
}

.settings-label {
    -fx-font-size: 17px;
    -fx-font-weight: 600;
    -fx-fill: -color-text-primary;
}

.toggle-switch .label {
    -fx-font-size: 14px;
}

/* Cards */
@media (prefers-color-scheme: dark) {
    .settings-card {
        -fx-background-color: #1e1e1e;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 12, 0.2, 0, 4);
    }

    .settings-label {
        -fx-fill: -color-text-primary;
    }
}
